name: Bump version
permissions:
    contents: write
    pull-requests: write
on:
    workflow_dispatch:
        inputs:
            version:
                required: true
                description: What kind of release is this going to be?
                type: choice
                options:
                    - major
                    - minor
                    - patch
jobs:
    bump-version:
        name: Bump version
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Set up Node.js
              uses: ./.github/actions/setup-node
            - name: Configure Git
              uses: ./.github/actions/configure-git
            - name: Generate token
              id: generate-token
              uses: ./.github/actions/generate-auth-token
              with:
                  app-id: ${{ secrets.AUTH_APP_ID }}
                  private-key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}
            - name: Bump version
              run: |
                  npm version ${{ inputs.version }} --git-tag-version false -w packages/dma-ui
                  npm version ${{ inputs.version }} --git-tag-version false
            - name: Extract version
              uses: ./.github/actions/extract-version
            - name: Create Pull request
              uses: peter-evans/create-pull-request@v7
              with:
                  base: main
                  branch: release/${{ env.VERSION }}
                  title: Release/${{ env.VERSION }}
                  body: Bumps the version to ${{ env.VERSION }}
                  committer: GitHub Actions <actions@github.com>
                  commit-message: Bump version to ${{ env.VERSION }}
                  author: GitHub Actions <actions@github.com>
                  token: ${{ steps.generate-token.outputs.token }}
